[alias]
  bd = branch -d
  b = branch -vva
  ci = commit
  co = checkout
  d = diff --minimal
  ds = diff --minimal --staged
  f = fetch -p
  m = merge
  p = push
  r = remote -v
  s = status -sb
  tree = log --oneline --graph --decorate --all --color
[merge]
  defaultToUpstream = true
[push]
  default = current
[user]
  name = Gabriel Farrell
  email = g@gsf.io
  username = gsf
